<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getName()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>

<!-- Секция с книгами -->
<div th:if="${!books.isEmpty()}">
    <h3>Borrowed books:</h3>
    <ul>
        <li th:each="book : ${books}">
            <span th:text="${book.title} + ' (' + ${book.author} + ', ' + ${book.publicationYear} + ')'"></span>
        </li>
    </ul>
</div>
<!-- Если книг нет -->
<div th:unless="${!books.isEmpty()}">
    <p>The man hasn't picked up any books yet.</p>
</div>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>